.chat-main
  .chat-main__group-info
    %ul.chat-main__group-info__name-lists
      %li.chat-main__group-info__name-lists__group-name
        = @group.name
      %li.chat-main__group-info__name-lists__members-name
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group) do
      .edit-btn
        Edit

  .chat-main__messages
    = render @messages

  .chat-main__message-post
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .chat-main__message-post__form
        = f.text_field :content, class: 'textarea.chat-main__message-post__form__input', placeholder: 'type a message'
        = f.label :image, class: 'textarea.chat-main__message-post__form__image' do
          = icon('far', 'image', class: 'textarea.chat-main__message-post__form__image')
          = f.file_field :image, class: 'temp'

        = f.submit 'Send', class: 'chat-main__message-post__submit'
